.container-fluid {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  padding: 30px;
}

.container-fluid .col-lg {
  padding: 10px 20px;
}

.cta-icon {
  font-size: 3rem;
}

.get-started-button {
  justify-content: center;
  margin: 10px auto;
}
