@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Rock+Salt&family=Roboto&display=swap');

.hero {
  background-image: url(../assets/lighthouse.png);
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

  margin-bottom: 0 !important;
}

.pitch-subtitle {
  /* 1 pixel black shadow to left, top, right and bottom */
  text-shadow: black 0.1em 0.1em 0.2em;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  font-family: 'Roboto'; color: white;
  display:inline;
}

.topline-header {
  font-family: 'Rock Salt';
  font-size: 10rem;
  color: #000;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #ff2800,
    0 0 82px #ff2800,
    0 0 92px #ff2800,
    0 0 102px #ff2800,
    0 0 151px #ff2800;
}

.site-cta .row {
  direction: flex;
  justify-content: center;
  margin-bottom: 3rem;

}

.site-cta h5 {
  display: inline;
}

.site-cta h1 {
  text-align: center;
}

.beta-badge {
  line-height: 1em;
  display: inline;
}
